<div class="d-flex flex-column flex-shrink-0 p3 me-4 mb-4" style="width: 200px;">
    <ul class="nav nav-pills flex-column mb-auto">
        <b style="padding: 0.5rem 1rem;">User Settings</b>
        <li class="nav-item">
            <a id="sb-pref" href="{{ url_for('settings.user_preferences') }}" class="nav-link link-dark">User Preferences</a>
        </li>
        <li class="nav-item">
            <a id="sb-notify" href="{{ url_for('settings.user_notifications') }}" class="nav-link link-dark">Notifications</a>
        </li>
        <hr>
        <b style="padding: 0.5rem 1rem;">Brokers</b>
        <li class="nav-item">
            <a id="sb-pref" href="#" class="nav-link link-dark">Add Brokers</a>
        </li>
    </ul>
</div>