{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="p-5 bg-secondary text-white rounded">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ url_for('static', filename='logo-200.png') }}" alt="Logo">
            </div>
            <div class="col-md-8">
                <h1 class="m-0">Stock Trader</h1><br>
                <h3 class="mt-0">Track all your stocks from one app</h3><br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque modi debitis cupiditate itaque explicabo eveniet alias ratione aliquid natus, doloremque ab! Sunt velit, obcaecati reiciendis libero quae at illum facere.
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-md-6 p-3">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus natus aperiam tempora autem eum! Asperiores quos eveniet sunt, doloremque doloribus, aliquam necessitatibus ipsa, laborum omnis aperiam dolorum debitis vel corporis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui aperiam ipsum libero commodi similique vero dicta a ratione, corrupti, ad voluptates atque dolorum accusamus, obcaecati distinctio consectetur earum quidem repellendus?
        </div>
        <div class="col-md-6 p-3">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias amet maiores iusto dolores id ipsum officia a beatae, provident esse numquam mollitia obcaecati expedita necessitatibus rerum dolore deleniti cupiditate quae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat facilis doloribus suscipit repellat. Eaque dolorum quis aperiam laboriosam, quibusdam ipsam inventore ipsa fugit ex, quasi ut, quaerat ab itaque ratione?
        </div>
    </div>
</div>

{% endblock %}